body {
    background-color: #e6ecf0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#topBar {
    float: top;
    min-width: 1000px;
    background-color: white;
    border-bottom: 1px solid grey;
    height: 70px;
}

#topBarLogo {
    display: inline-block;
    height: 50px;
    position: relative;
}

#searchForm {
    display: inline;
    text-align: center;
    position: absolute;
    left: 300px;
    top: 0px;
}

#userInfo {
    display: inline-block;
    float: right;
}

#searchBox {
    height: 35px;
    width: 400px;
    outline: none;
    box-shadow: 0px 1px 1px 1px grey;
    position: absolute;
    top: 13px;

    border-radius: 20px;

}

#searchButton {
    height: 40px;
    width: 80px;
    margin-left: 30px;
    margin-top: 20px;
    position: relative;
    left: 400px;
    top: -8px;

    padding: 0;


    background-color: lightgrey;
}

#searchButtonText {
    font-size: 150%;
    color: grey;
}

#searchButton:hover {
    background-color: white;
}

#logIn {
    position: relative;
    right: 20px;
    top: 10px;
    height: 40px;
    width: 64px;
    outline: none;
    background-color: blue;
}

#logInButtonText {
    font-size: 150%;
    color: white;
}

#posts {
    margin-left: 200px;
    margin-top: 15px;
    background-color: white;
    max-width: 800px;
    min-width: 500px;
    margin-right: 100px;
}

.post{
    border: 1px solid grey;
    max-width: 800px;
    min-width: 500px;

}

#result{
    color: blue;
    font-weight: bold;
}

.profilePhoto {
    height: 50px;
    width: 50px;
    float: left;
    border-style: solid;
    border-color: grey;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;

}
.userName {
    font-size: 130%;
    font-weight: bold;
    margin-left: 10px;
}
.category {
    margin-top: 0;
    margin-left: 10px;
    font-size: 70%;
    color: grey;
}

.condition {
    margin-top: 0;
    margin-left: 10px;
    font-size: 70%;
    color: grey;

}

.description {
    margin-left: 75px;
}

.price{
    float: right;
    position: relative;
    right: 10px;
    top: -62px;
    font-weight: bold;
}

.addToCart {
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: dodgerblue;
    font-weight: bold;
    color: white;
}

.contactSeller {
    margin-left: 40px;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
}

.buyItem {
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
}

#searchResult {
    padding: 10px;
}

.itemPicture {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

#endOfResults{
    text-align: center;
    padding: 5px;
    border: 1px solid grey;

}
