#chat{
    min-height: 100px;
}

#messageBox{
    display:block;
    width: 200px;
    max-height: 70px;
    font-size: 14px;
    resize: none;
    overflow: hidden;
}

.chatInBubble {
    margin: 5px;
    display: inline-block;
    min-width: 60px;
    max-width: 150px;
    background-color: lightblue;
    border-radius: 20px;
}

.chatInText{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}


.chatOutBubble {
    display: inline-block;
    margin: 5px;
    min-width: 60px;
    max-width: 150px;
    float: right;
    clear: both;
    background-color: lightyellow;
    border-radius: 20px;
}

.chatOutText{
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}